.security_margin {
  margin-top: var(--margin-5);
  margin-bottom: var(--margin-3);
}
.security_gap {
  gap: var(--margin-2);
  flex-wrap: wrap;
}
.security_bg {
  background-color: var(--security_section_bg);
  padding: var(--padding-1) 3% var(--padding-10);
}
.security_image {
  max-width: 200px;
  width: 100%;
}
