.integrations_card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: calc(var(--container-spacing-mobile) / 2 );
  border: 1px solid transparent;
  border-radius: 0.625rem;
  overflow: hidden;
}
.integrations_card_btn {
  color: var(--color-primary-text);
  text-decoration: none;
  font-size: var(--small-font);
  margin: var(--margin-2) 0;
  display: inline-block;
}
.integrations_paragraph {
  color: var(--color-secondary-text-light);
  margin: var(--margin-2) 0;
}
.integrations_card_title {
  margin: var(--margin-2) 0;
}
.integrations_card_img {
  width: auto;
  height: 8.75rem;
}
.integrations_card_img_bg {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--integrations-card-bg);
  padding: var(--padding-7);
  
}
/* SOC card */
.soc_card {
  background-color: var(--bg_soc_card);
  padding: 0 var(--padding-2);
}
.soc_card_paragraph {
  margin: var(--margin-2) 0;
}
.soc_card_title {
  margin: var(--margin-2) 0;
}
.integrations_listing_subheading {
  color: var(--color-highlight-text);
  margin: var(--margin-2) 0;
}
.integrations_card_info{
  padding: var(--padding-4);
}
@media screen and (min-width:1024px) {
 /* .integrations_card {
    margin-top: 0;
    margin-bottom: 0;
  }  */
  
}
